# Diamond prices
1. Summary Statistics
2. Do diamond carots have any influence over the price of diamonds? 
3. Did the variable carot, or any other variable affect the prive of diamonds?
4. Detect any issues with the dataset and list if there are any issues and why they happened.

## Working with the dataset
The dataset covers diamond prices over 50,000 diamonds. I retrieved the dataset from Kaggle before it was taken down. It is located in .\data

### Check data types

In [1]:
import pandas as pd

# navigate to this file path to get and read the csv file. 
test_path = 'data/diamond_prices.csv'
read_data = pd.read_csv(test_path)

# check the data type of each column
column_data_types = read_data.dtypes

# print the data types
print(column_data_types)

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

### Summary Statistics

In [2]:
# summary statistics of all columns stored as the variable summary_statistics
summary_statistics = read_data.describe(include='all')

# print summary statistics
summary_statistics

,carat,cut,color,clarity,depth,table,price,x,y,z
count,500.000000,500,500,500,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000
unique,NaN,5,7,8,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Ideal,E,SI1,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,152,122,158,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.636120,NaN,NaN,NaN,61.712800,57.800000,2233.498000,5.430920,5.42904,3.350320
std,0.216409,NaN,NaN,NaN,1.727346,2.411122,996.584949,0.724725,0.71263,0.448653
min,0.200000,NaN,NaN,NaN,53.100000,52.000000,326.000000,3.790000,3.75000,2.270000
25%,0.527500,NaN,NaN,NaN,60.900000,56.000000,2759.000000,5.197500,5.21750,3.187500
50%,0.710000,NaN,NaN,NaN,61.800000,58.000000,2782.000000,5.730000,5.72000,3.530000
75%,0.750000,NaN,NaN,NaN,62.700000,59.000000,2804.000000,5.850000,5.86000,3.610000
max,1.200000,NaN,NaN,NaN,68.100000,70.000000,2822.000000,6.830000,6.90000,4.330000

### Summary Statistics
Performed on columns that have numerical data.

In [3]:
# Summary statistics of columns with numerical data. Setting the function to variable numerical_summary_statistics
numerical_summary_statistics = read_data.describe()

# print numerical_summry_statistics 
numerical_summary_statistics

,carat,depth,table,price,x,y,z
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000
mean,0.636120,61.712800,57.800000,2233.498000,5.430920,5.42904,3.350320
std,0.216409,1.727346,2.411122,996.584949,0.724725,0.71263,0.448653
min,0.200000,53.100000,52.000000,326.000000,3.790000,3.75000,2.270000
25%,0.527500,60.900000,56.000000,2759.000000,5.197500,5.21750,3.187500
50%,0.710000,61.800000,58.000000,2782.000000,5.730000,5.72000,3.530000
75%,0.750000,62.700000,59.000000,2804.000000,5.850000,5.86000,3.610000
max,1.200000,68.100000,70.000000,2822.000000,6.830000,6.90000,4.330000

### Categorical Distribution
Display the frequencies of the variables `cut`, `color`, and `clarity`.

In [4]:

# Distribution of the `cut`, `color` and `clarity` columns
cut_distribution = read_data['cut'].value_counts()
color_distribution = read_data['color'].value_counts()
clarity_distribution = read_data['clarity'].value_counts()

# Format cut_distribution, color_distribution and clarity_distribution

# Create separate DataFrames for each categorical distribution.
cut_distribution_df = cut_distribution.reset_index().rename(columns={'index': 'Cut', 'cut': 'cut'})
color_distribution_df = color_distribution.reset_index().rename(columns={'index': 'Color', 'color': 'color'})
clarity_distribution_df = clarity_distribution.reset_index().rename(columns={'index': 'Clarity', 'clarity': 'clarity'})

# Print all distributions, replace NaN in the table with an empty space
combined_distribution_df = pd.concat([cut_distribution_df, color_distribution_df, clarity_distribution_df], axis=1)
combined_distribution_df = combined_distribution_df.fillna('')
combined_distribution_df

         cut  count color  count clarity  count
0      Ideal  152.0     E  122.0     SI1    158
1    Premium  144.0     F  105.0     VS2    117
2  Very Good  127.0     G   74.0     VS1     79
3       Good   51.0     H   67.0     SI2     71
4       Fair   26.0     D   59.0    VVS1     29
5                       I   50.0    VVS2     28
6                       J   23.0      I1     11
7                                     IF      7